.SimpleBadge {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.NPMBadge .a {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
}
.NPMBadge .b {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
}
.inner-circles-loader:not(:required) {
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.inner-circles-loader:not(:required):before, .inner-circles-loader:not(:required):after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.inner-circles-loader:not(:required):before {
  -webkit-animation: inner-circles-loader 3s infinite;
  -o-animation: inner-circles-loader 3s infinite;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
}
.inner-circles-loader:not(:required):after {
  -webkit-animation: inner-circles-loader 3s .2s reverse infinite;
  -o-animation: inner-circles-loader 3s .2s reverse infinite;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
}
@keyframes inner-circles-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
@-webkit-keyframes inner-circles-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
